---
import type { PageMetadata } from "@/consts";
import HeadDefault from "@components/head-default.astro";

type Props = PageMetadata;
---

<html lang="en">
  <head>
    <HeadDefault {...Astro.props} />
  </head>

  <body class="h-dvh dark:bg-violet-700 bg-amber-400">
    <main class="p-16 sm:p-28 md:p-32 size-full mx-auto relative">
      <div
        class="absolute animate-pulse-slow flex inset-10 -z-50 sm:inset-20 md:inset-24 bg-gradient-to-tr from-amber-400 via-rose-400 to-amber-400 dark:from-fuchsia-600 dark:via-violet-600 dark:to-fuchsia-600"
      >
      </div>
      <h1
        class="font-extrabold text-2xl sm:text-3xl md:text-4xl lg:text-5xl leading-relaxed max-w-6xl"
      >
        Hi, I'm Wes. I'm a software engineer, serial business-idea-haver, and
        infrequent blogger. Thanks for stopping by!
      </h1>
    </main>
  </body>
</html>
