---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="prose prose-slate dark:prose-invert">
    <span
      >Hi, my name is Wes, I'm a software engineer, entrepreneur, and startup
      consultant. I like to write about startups and work life on my <a
        href="/blog">blog</a
      >. Thanks for stopping by!</span
    >
  </section>
</BaseLayout>
