---
import Logo from "@components/wh.svg";
import Moon from "@assets/moon.svg";
import Sun from "@assets/sun.svg";
---

<script>
  document.getElementById("mode-toggle")?.addEventListener("click", () => {
    document.documentElement.classList.toggle("dark");
  });
</script>

<header
  class="absolute top-0 right-0 left-0 z-50 flex items-center justify-between px-14 py-5"
>
  <a href="/" aria-label="Home">
    <Logo class="size-10 fill-slate-950 dark:fill-slate-50" />
  </a>
  <div class="flex items-center gap-3">
    <a href="/blog">Blog</a>
    <button
      id="mode-toggle"
      class="flex items-center justify-center rounded-sm p-1 transition-colors duration-300 hover:cursor-pointer hover:bg-slate-50/40 hover:dark:bg-slate-950/40"
      ><span class="sr-only">Toggle mode</span><Moon
        class="size-5 dark:hidden"
      /><Sun class="hidden size-5 dark:block" /></button
    >
  </div>
</header>
