---
import HeaderLink from "./HeaderLink.astro";
---

<header class="flex justify-end px-12 py-6">
  <nav class="flex gap-x-5 text-slate-800 dark:text-slate-200">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
  </nav>
</header>
