---
import ThemeToggleButton from "./ThemeToggleButton.astro";
import HeaderLink from "./HeaderLink.astro";
import GithubLogo from "../assets/GithubLogo.astro";
import LinkedinLogo from "../assets/LinkedinLogo.astro";
---

<header
  class="top-0 left-0 right-0 flex items-center justify-between gap-x-5 px-7 py-6 text-slate-800 dark:text-slate-100 md:px-10"
>
  <div class="flex items-center gap-5">
    <a href="https://github.com/wesharper" class="h-4 w-4">
      <GithubLogo />
    </a>
    <a href="https://www.linkedin.com/in/wes-harper-8b338058" class="h-4 w-4">
      <LinkedinLogo />
    </a>
  </div>
  <div class="flex items-center gap-5">
    <nav class="flex gap-x-5 text-slate-800 dark:text-slate-100">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </nav>
    <ThemeToggleButton />
  </div>
</header>
